body {
    background-color: rgb(242, 238, 257);
    color: white;
}

.flex-container {
    display: flex;
}

.flex-container > h1 {
    margin: auto auto 20px;
}

.row-container {
    display: flex;
}

#grid-container {
    margin: auto;
}

.grid-square {
    border-style: solid;
    border-color: rgb(220, 220, 220);
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: auto auto 20px;
    gap: 20px;
}
